  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
      </ion-buttons>
      <ion-title>Admin Panel</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-item button detail routerLink="/admin/users">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Manage users</ion-label>
      </ion-item>

      <ion-item button detail (click)="openCreateUser()">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        <ion-label>Create user</ion-label>
      </ion-item>

      <ion-item button detail (click)="openCreateNotification()">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>Send a notification to users</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>