<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(loading())
  {
    <div class="center-state">
      <ion-spinner name="circular"></ion-spinner>
    </div>
  }
  @else if(errorMsg())
  {
    <div class="center-state">
      <ion-text color="danger">{{ errorMsg() }}</ion-text>
    </div>
  }
  @else
  {
    <ion-list>
      @for(user of usersStore.users(); track user.id)
      {
        <ion-item>
          <ion-label>
            <h2>{{ user.name }}</h2>
            <p>{{ user.username }}</p>
          </ion-label>

          @if (user.role === 'Admin')
          {
            <ion-badge slot="end" color="primary">Admin</ion-badge>
          }
          @else
          {
            <ion-button
              slot="end"
              size="small"
              fill="outline"
              (click)="confirmPromote(user)">
              Promote
            </ion-button>
          }
        </ion-item>
      }
    </ion-list>
  }
</ion-content>